header {
    height: 60px;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 20px;
    max-width: 80%;
}  

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.register-link {
    background-color: blue;
    padding: 10px;
    color: white;
    border-radius: 5px;
}