header {
    height: 60px;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 20px;
    max-width: 80%;
}  

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.register-link {
    background-color: blue;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.logout-link {
    background-color: red;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  
  .input-container input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .input-container button {
    margin-left: 10px;
    padding: 10px;
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  